.subject-main{
    .main-body{
        padding:80px 0;
        text-align: center;

        .body-title{
            text-align: center;
            font-size: 34px;
            font-weight: 500;
            margin-bottom: 50px;
        }

        input{
            border: 2px solid #000;
            width: 100%;
            padding:20px 46px;
            padding-right: 0;
            background-color: #ECECEC;
            color: #757575;
            border-radius: 20px;
            font-size: 16px;
            margin: 0 auto;
            width: 534px;
            margin-bottom: 43px;
        }
        
        .error{
            text-align: center;
            color:#000;
            font-size: 20px;
        }
    }
}
.table-subjects{
    margin:0 auto !important;
    display: grid;
    max-width: 900px;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    gap:42px;

    .item-subjects{
        display: flex;
        height: 300px;
        background-color: #FFD94E;
        border:1px solid #FFD94E;
        border-radius: 20px;
        font-size: 26px;
        font-weight: 500;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}